@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.my-listing-page-container {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
}
.my-listing-page-container .my-listing-layout {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
}
.my-listing-layout .my-listing-layout-thead tr {
  background-color: #ddd;
}
.my-listing-layout .my-listing-layout-thead tr th {
  color: #262626;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px;
  text-align: left;
  width: 100px;
}
.my-listing-layout .my-listing-layout-tbody tr td {
  color: #262626;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 8px 3px;
  border-bottom: 1px solid #ddd;
}
.my-listing-layout .my-listing-layout-tbody tr td > td {
  color: #666;
  font-size: 10px;
  font-style: inherit;
  font-weight: 400;
  line-height: inherit;
  border: none;
}
.my-listing-page-container tr td:first-child {
  border-left: 1px solid #ddd;
}
.my-listing-page-container tr td:last-child {
  border-right: 1px solid #ddd;
}
