.middle-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.middle-inside-container {
  display: flex;
  flex-wrap: wrap;
}

.middle-table-first-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.middle-container-wrapper {
  width: 70%;
  margin-right: 20px;
}

.middle-container-aside {
  width: 30%;
}
/* product-info */
.Polaris-Text--root {
  padding: 10px 0 10px 21px;
  background: #ddd;
  color: #262626;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 3px !important;
}

.middle-container-wrapper .Polaris-Box {
  padding: 0;
  border-radius: 3px;
}

.middle-inside-container {
  padding: 15px 20px 20px;
}

.middle-inside-container .middle-image {
  margin-right: 25px;
  position: relative;
  padding-top: 50%;
  height: 0;
}

.middle-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.first-conatiner .Polaris-Box {
  margin-bottom: 20px;
  border-radius: 3px !important;
}

.middle-inside-container .middle-image {
  flex: 0 0 260px;
}

.middle-inside-container .middle-table-first {
  flex: 1;
}
.blue {
  color: #0083bb !important;
}

.product-content {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #262626;
}

.product-content + span {
  color: #666;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.middle-table-first-wrapper .middle-wrapper-container {
  flex: 0 0 50%;
}
.middle-container-aside .Polaris-Box {
  padding: 0;
  height: 100%;
  border-radius: 3px !important;
}

.address-tab-wrapper {
  padding: 15px 20px;
}
.data-orgin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info-orgin-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.data-tab a {
  text-decoration: none;
}
span.way-svg {
  margin-right: 10px;
}

.address-tab-wrapper p {
  margin-left: 30px;
  font-size: 12px;
}
.address-tab-wrapper .data-tab {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.address-tab-wrapper .data-tab-data {
  display: flex;
}
.address-tab-wrapper .address-tab {
  margin-bottom: 14px;
}
.household-product-details {
  display: flex;
  flex-wrap: wrap;
  padding: 14px 0;
}
.household-product-details .about-product-data {
  flex: 0 0 33%;
}
.household-wrapper {
  padding: 0 21px;
}
.border-bottom {
  border-bottom: 1px solid #dadada;
}
.last-conatiner .Polaris-Box {
  padding: 0;
}
.about-product-data .product-content span {
  color: #666;
}
.top {
  margin-top: 5px;
}
/* ------------------------------------------Track-Shipment------------------------------------- */
.status-shipment {
  display: flex;
  justify-content: space-between;
}

.shipment-track > a {
  /* text-align: center; */
  text-decoration: none;
  font-size: 10px;
  padding: 10px;
  margin-top: 6px;
  font-style: normal; /* font-weight: 700; */
  line-height: normal; /* letter-spacing: 0.4px; */
  border-radius: 3px;
  color: #666;
  border: 1px solid rgb(184, 184, 184); /* opacity: 0.7; */
}
