@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --p-border-radius-2: 3px;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.login-page-container {
  margin-top: 5%;
}
.login-page-container .login-page-layout-container {
  width: 100%;
}
.login-page-container .login-page-layout-container .login-page-layout-logo {
  text-align: center;
}
.login-page-container .login-page-layout-text .Polaris-Text--headingMd {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 10px 0;
  padding: 10px 10px 20px 10px;
  line-height: 24px;
  letter-spacing: 1.6px;
}
.login-page-container .login-page-layout-container .Polaris-Label__Text {
  color: #262626;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.login-page-container .login-page-layout-container .Forget-Button {
  width: 100%;
  text-align: center;
    /* display: flex;
                                                                              justify-content: flex-end; */
}
.login-page-container .login-page-layout-container .Forget-Button a {
  color: #02aaf3;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
  text-decoration: none;
}
.login-page-container .login-page-layout-container .Forget-Button a:hover {
  text-decoration: underline solid #02aaf3;
}
.login-page-container .Submit-Button span.Polaris-Button__Text {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
}
.login-page-container .Submit-Button button.Polaris-Button {
  background-color: #00b437;
}

.login-page-container .login-page-layout-container .Access-key-popup {
  /* position: absolute;
  display: block;
  width: 45%;
  left: 26.5%;
  right: 0;
  top: 340px; */
  /* position: fixed; */
  display: block;
  width: 100%;
  top: 350px;
  right: 450px;
  margin-left: 70px;
  /* left: 0; */
  max-width: 450px;
}

.login-page-container .login-page-layout-container .Access-key-popup.hide {
  display: none;
}

.login-page-container .login-page-layout-container .Access-key-popup .Access-key-popup-A {
  color: #02aaf3;
}

.login-page-container .Access-key-popup .Access-key-popup-form {
  border-radius: 4px;
  border: 1px solid #999;
  margin-top: 10px;
}

.login-page-container .Access-key-popup .Api-form>p {
  margin-top: 10px;
}

.login-page-container .Access-key-popup .Api-form .Api-form-input-box {
  display: flex;
  margin-top: 15px;
  width: 250px;
}

.login-page-container .Access-key-popup .Api-form .Key_button {
  margin-top: 10px;
  background-color: #00b437;
  border-style: none;
  height: 35px;
  width: 125px;
}

.login-page-container .Api-form-input-box>div:first-child {
  width: 90%;
}

.login-page-container .Generate-key-Button button.Polaris-Button {
  background-color: #00b437;
  margin-top: 10px;
    border-style: none;
}

.login-page-container .Generate-key-Button span.Polaris-Button__Text {
  color: #fff;
  font-weight: 700;
}

.login-page-container .Api-form-input-box button.Polaris-Button {
  margin-top: 17px;
  background-color: #02aaf3;
  border-style: none;
  width: 55px;
  margin-left: 1px;
  color: #fff;
}

.login-page-container .Polaris-Layout {
  max-width: 500px;
  margin: 0 auto;
}

/* .login-page-container .login-page-layout-container .Access-key-popup {
                                                                      position: absolute;
                                                                      display: block;
                                                                      width: 100%;
                                                                      top: 300px;
                                                                      right: 10px;
                                                                      max-width: 450px;
                                                                    }     */
@media (min-width: 770px) {
  .login-page-container .login-page-layout-container .Polaris-Box {
    padding: 30px;
  }
}
